<%- include('../partials/head') %>

<div class="container"><%- include('../partials/header') %></div>
<div class="container">
	<h1>Foo Stylus Page</h1>
</div>
<div class="container">
	<div id="body">
		<div class="row foo">
			<div class="col-xs-12">Foo</div>
		</div>
		<div class="row bar">
			<div class="col-xs-12">Bar</div>
		</div>
	</div>
</div>
<div class="container"><%- include('../partials/footer') %></div>
