<%- include('../partials/head') %>

<div class="container"><%- include('../partials/header') %></div>
<div class="container">
	<h1>Foo Stylus Page</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12">Foo</div>
	</div>
</div>
<div class="container"><%- include('../partials/footer') %></div>
